<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.service.center.dao.admin.mapper.DataSourceManageMapper">
<!--    <select id="selectAllDataSources" resultType="com.data.service.center.client.admin.entity.DataSourceConfigDO">-->
<!--        select-->
<!--            url as url,-->
<!--            user_name as userName,-->
<!--            password as password-->
<!--        from-->
<!--            data_service_center_data_source_config-->
<!--    </select>-->
</mapper>